.projects {
  width: 100%;
  min-height: 200px;
  margin-left: -2rem;
  margin-bottom: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button {
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: black;
  cursor: pointer;
  border-radius: 4px;
  margin: 2rem auto;
}

.button:hover {
  background-color: #2e2e2e;
}

.edit-product {
  margin: 3rem auto;
  border-radius: 4px;
  background-color: grey;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  min-width: 250px;
  max-width: 350px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  position: relative;
}

.edit-product .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.edit-product .form-group label {
  margin-bottom: 1rem;
}

.edit-product .form-group input {
  padding: 5px;
  border-radius: 4px;
}

.edit-product .button {
  margin: 1rem auto;
  font-weight: normal;
}

.edit-product span {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}